<div class="side-nav-container" [class.expanded]="isExpanded">
  <button class="toggle-btn" (click)="toggleMenu()">
    <span class="material-icons">{{ isExpanded ? 'chevron_left' : 'menu' }}</span>
  </button>

  <div class="menu-items">
    <div *ngFor="let item of filteredMenu" class="menu-item">
      <a *ngIf="item.doHaveRedirectionLink" [routerLink]="item.menuLink" class="menu-link">
        <div class="icon-container" [innerHTML]="item.svgFileBase64 | safeHtml"></div>
        <span class="menu-name" *ngIf="isExpanded">{{ item.menuName }}</span>
      </a>

      <div *ngIf="!item.doHaveRedirectionLink" class="menu-link" (click)="toggleSubMenu(item)">
        <div class="icon-container" [innerHTML]="item.svgFileBase64 | safeHtml"></div>
        <span class="menu-name" *ngIf="isExpanded">{{ item.menuName }}</span>
        <span *ngIf="isExpanded && hasSubMenu(item)" class="material-icons submenu-icon">
          {{ item.isExpanded ? 'expand_less' : 'expand_more' }}
        </span>
      </div>

      <div *ngIf="item.isExpanded && isExpanded && hasSubMenu(item)" class="submenu">
        <a *ngFor="let subItem of item.listOfSubMenu"
           [routerLink]="subItem.menuLink"
           class="submenu-item">
          <div class="submenu-icon-container" [innerHTML]="subItem.svgFileBase64 | safeHtml"></div>
          <span>{{ subItem.menuName }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
