<!-- normal-nav-bar.component.html -->
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <!-- Your logo/brand here -->
      <span>Your Logo</span>
    </div>

    <button class="mobile-menu-toggle" (click)="toggleMobileMenu()">
      <span class="material-icons">menu</span>
    </button>

    <div class="navbar-menu" [class.active]="isMobileMenuOpen">
      <div *ngFor="let item of filteredMenu" class="navbar-item" [class.has-submenu]="hasSubMenu(item)">
        <a *ngIf="item.doHaveRedirectionLink" [routerLink]="item.menuLink" class="navbar-link">
          <div class="icon-container" [innerHTML]="item.svgFileBase64 | safeHtml"></div>
          <span>{{ item.menuName }}</span>
        </a>

        <div *ngIf="!item.doHaveRedirectionLink" class="navbar-link" (click)="item.isExpanded = !item.isExpanded">
          <div class="icon-container" [innerHTML]="item.svgFileBase64 | safeHtml"></div>
          <span>{{ item.menuName }}</span>
          <span *ngIf="hasSubMenu(item)" class="material-icons dropdown-icon">
            {{ item.isExpanded ? 'expand_less' : 'expand_more' }}
          </span>
        </div>

        <div *ngIf="item.isExpanded && hasSubMenu(item)" class="submenu">
          <a *ngFor="let subItem of item.listOfSubMenu"
             [routerLink]="subItem.menuLink"
             class="submenu-item">
            <div class="submenu-icon-container" [innerHTML]="subItem.svgFileBase64 | safeHtml"></div>
            <span>{{ subItem.menuName }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
